<div class="h4">Search by</div>
<div class="alert alert-danger" role="alert">
    Search does not work!
</div>
<div class="row">
    <div class="col-md-6">
        <input class="form-control" name="FirstName" placeholder="First name" required minlength="1">
    </div>
    <button class="button">Search</button>
</div>
<div class="row">
    <div class="col-md-6">
        <input class="form-control" name="LastName" placeholder="Last name" required minlength="1">
    </div>
    <button class="button">Search</button>
</div>
<div class="row">
    <div class="col-md-6">
        <input class="form-control" name="Address" placeholder="Address" required minlength="1">
    </div>
    <button class="button">Search</button>
</div>
<div class="row">
    <div class="col-md-6">
        <input class="form-control" name="PhoneNumber" placeholder="Phone number" required minlength="1">
    </div>
    <button class="button">Search</button>
</div>